
h1 {
  font-family: Abel;
  font-size: 96rem;
  color: blue;
}
h2 {
  font-family: Lato;
  font-size: 80rem;
}
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Abel";
    font-size: 80px;
    font-style: normal;
}